@using System.Text.RegularExpressions
@{
    ViewData["Title"] = "Dashboard";
}

<div class="container">
    <a href="/logout" class="btn btn-dark">Logout</a>
    <a href="/Dashboard" class="btn btn-success">Home</a>
    <h1>YOU HAVE OFFICIALLY DELETED YOUR CLASS FROM THE SITE</h1>
    <a href="/newshindig">New Class</a>
</div>

